<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <!-- Bootstrap5 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- external css -->
    <link rel="stylesheet" href="./style.css">

    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-W+0v6r/vCuhRtLmwtMk5bNDwykUunfmiVk9ujUz+o6Lhso70waz75tXAPY00pCTN57H8eP0IT8efKakJihYSKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>


<body>

        <!-- py-5 pour ajouter du marges en heut et en bas de page -->
        <div class="container py-5 ">
            <h1 class="text-center"><span style="color: #2E4383;">Bienvennue</span> <span style="color: #EF8823;;">Mustapha</span>, </h1>
            <p class="text-center text" > Dans cet espace vous pouvez consultez vos notes <br> obtenez une version numérique de votre diplome </p>
            <!-- La classe "g-4" ajoute un espace (marge) de 4 unités entre les éléments de la rangée pour créer un espacement horizontal. -->

            
            <div class="row row-cols-1 row-cols-md-3  g-4 py-5 ">

                <div class="col-12">
                    
                    <div class="d-flex justify-content-between align-items-center">

                        <h4 class="text-start"> Départements <span style="color: #EF8823;">(11)</span></h4>
                        <a href="#" class="text-end "><span style="color: #EF8823;">Afficher Plus  </span> </a>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-blue d-flex justify-content-center align-items-center py-4">

                        <img class="img-fluid" src="info.png" alt="" width="60px">
                        
                        <div class="title-card text-center py-3">Informatique</div>
                      
                    
                    </div>
                </div>

                <div class="col" >
                    <div class="card card-orange d-flex justify-content-center align-items-center py-4" ">

                        <img class="img-fluid" src="info.png" alt="" width="60px">
                        
                        <div class="text-center py-3">Physique et Chimie</div>
                      
                    
                    </div>
                </div>

                <div class="col" >
                    <div class="card card-blue d-flex justify-content-center align-items-center py-4">

                        <img class="img-fluid" src="info.png" alt="" width="60px">
                        
                        <div class="text-center py-3">Histoire et Géographique</div>
                      
                    
                    </div>
                </div>

                <div class="col" >
                    <div class="card card-orange d-flex justify-content-center align-items-center py-4" >

                        <img class="img-fluid" src="info.png" alt="" width="60px">
                        
                        <div class="text-center py-3">Sceiences de L'Education</div>
                      
                    
                    </div>
                </div>

                <div class="col "  >
                    <div class="card card-blue d-flex justify-content-center align-items-center py-4" >

                        <img class="img-fluid" src="info.png" alt="" width="60px">
                        
                        <div class="text-center py-3">Sciences de la Terre</div>
                      
                    
                    </div>
                </div>

                <div class="col" >
                    <div class="card card-orange d-flex justify-content-center align-items-center py-4" >

                        <img class="img-fluid" src="info.png" alt="" width="60px">
                        
                        <div class="text-center py-3">Sciences de la Vie</div>
                      
                    
                    </div>
                </div>
            </div>

        </div>










    <!-- Bootstrap 5 js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>