<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/64d58efce2.js"
    
            crossorigin="anonymous"
    ></script>
    <title>Se connecter | ENS </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

 <!-- header section starts -->
 <header class="header">

    <section class="flex">
        <a href="#home" class="logo"> <img src="./images/Groupe 752.png" alt="" width="120px"> </a>


        <nav class="navbar">
            <a href="#home" class="active"><i>Acceuil</i></a>
            <a href="#contact"><i>Contact</i></a>
            

        </nav>

        <!-- <div id="menu-btn" class="fas fa-bars"> </div> -->

        <!-- <div id="menu-btn" class="fas fa-bars"> </div> -->

    </section>

</header>

<!-- header section ends -->

<!-- container -->

    <div class="container">

        <!-- form -->
        <div class="forms-container"> 
            <div class="signin">
                <form action="" class="sign-in-form">
                    <h2 class="title">Se connecter</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <a href="" class="mdps-oublie" >j'ai oublié le mot de passe oublié!</a>
                    <input type="submit" value="Connecter" class="btn solid">
    
                    
                </form>

               
            </div>
            <div class="img">
                <img src="./images/Groupe 654.png" style="width: 600px;  " alt="">
            </div>
           
        </div>
    
    
        <!-- footer -->
        
        <div class="footer">
            <div class="panels-container">
                 <div class="panel left-panel">
                     <div class="content">
                         <h2>Bienvenue à l'ENS de Rabat</h2>
                         <br>
                         <p>Cet espace est reservé pour les étudiants,<br> professeurs, administrateur
                         </p>
                     </div>
                 </div>
           </div>
         </div>
    
    </div>  
    



</body>

</html>