:root {
    --white: #fafafa;
    --black: #000000;
    --orange: #EF8823;
    --blue: #2E4383;
    --grey: #2E4281;
    --green: #00E77F;
    --white: #fafafa;
    --light-white: #aaa;
    /* --black: #3d3d3d; */
    --light-bg: #4b4b4b;
}

.btn-custom-orange {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #EF8823;
    border: 2px solid #EF8823;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.115));
}

.btn-custom-orange:hover {
    background-color: transparent;
    border: 2px solid #EF8823;
    color: #EF8823;
}

.btn-orange {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #EF8823;
    border: 2px solid #EF8823;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.115));
}

.btn-orange:hover {
    background-color: transparent;
    border: 2px solid #EF8823;
    color: #EF8823;
}

.btn-blue {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #2E4383;
    border: 2px solid #2E4383;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.115));
}

.btn-blue:hover {
    background-color: transparent;
    border: 2px solid #2E4383;
    color: #2E4383;
}

.section-1 {
    font-family: "jost", sans-serif;
}

.section-1 .title {
    font-size: 2rem;
    font-weight: 500;
    color: #2E4383;
}

.section-2 {
    font-family: "jost", sans-serif;
}

.section-2 .row-1 {}

.section-2 .row-1 .title {
    color: rgba(0, 0, 0, 0.43);
    font-size: 1.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.406);
}

.section-2 .row-2 {}

.section-2 .row-2 .elem {
    border-radius: 14px;
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
}

.section-2 .row-2 .elem .title {
    color: #2E4383;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
}