    <script src="/lib/js/jQuery.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/lib/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7/web3.min.js"></script>
    <script src="/js/homePage.js"></script>

    <script src="/js/metamask.js"></script>
    <script>
      async function  sendData(){
        let filiere = document.getElementById("filiere").value;
        await App.load();
        $.ajax({
            url: '/diplomes/deliveredMany',
            type: 'POST',
            data: {
                filiere:filiere,
                account: App.account 
            },
            success: function(responseData) {
                console.log(responseData);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
            }
        });
    }
    </script>
  </body>
</html>
