    <script src="/lib/js/jQuery.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/lib/js/bootstrap.bundle.min.js"></script>
    <script src="/js/homePage.js"></script>
    <script>
      
    </script>
  </body>
</html>
