<%- include("../parts/header.ejs") %>

<div class="container-fluid">
    <form action="" method="post" class="row g-3 m-3 ">
        <div class="col-6">
            <label for="name" class="form-label">Full name: </label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-6">
            <label for="Cin" class="form-label">CIN: </label>
            <input type="text" name="cin" id="Cin" class="form-control">
        </div>
        <div class="col-6">
            <label for="CNE" class="form-label">CNE: </label>
            <input type="text" name="cne" id="CNE" class="form-control">
        </div>
        <div class="col-6">
            <label for="Naiss" class="form-label">Date naissance: </label>
            <input type="date" name="naiss" id="Naiss" class="form-control">
        </div>
        <div class="col-6">
            <label for="sector" class="form-label">Filière: </label>
            <input type="text" name="sector" id="sector" class="form-control">
        </div>
        <div class="col-6">
            <label for="diplome" class="form-label">Type diplome: </label>
            <input type="text" name="diplomeType" id="diplome" class="form-control">
        </div>
        <div class="col-6">
            <label for="session" class="form-label">Session: </label>
            <input type="number" name="session" id="session" class="form-control">
        </div>
        <div class="col-6">
            <label for="insti" class="form-label">Institution: </label>
            <input type="text" name="insti" id="insti" class="form-control">
        </div>
        <div class="col-6">
            <label for="account" class="form-label">Account: </label>
            <input type="text" name="account" id="account" class="form-control">
        </div>
        <div class="col-6">
            <input type="submit" value="submit" class="btn btn-primary">
        </div>
    </form>
</div>

<%- include("../parts/footer.ejs") %>